## **МЕТОДЫ АНАЛИЗА ДАННЫХ И МАШИННОГО ОБУЧЕНИЯ**

### ДОМАШНЕЕ ЗАДАНИЕ №1 : "ПЕРЕБОР ПАРАМЕТРОВ АЛГОРИТМОВ". ЧАСТЬ 3: АЛГОРИТМЫ

Кожевников Д.А.

### **Импорт библиотек**

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from pathlib import Path
from joblib import dump, load

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import f1_score, confusion_matrix, roc_auc_score
import yaml

warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-notebook')

In [8]:
ROOT = Path('../')

### **Загрузка данных**

In [10]:
df = pd.read_csv(Path(ROOT, 'data', 'intermediate', 'heart.csv'))

In [11]:
df.head()

,Unnamed: 0,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### **Предобработка данных**